<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer>
    <div class="footer_centering">



        <ul class="social_networks_wrapper_footer">
            <li class="social_network_footer_footer">
                <a href="#">
                    <img class='google' src="{% static 'images/google.svg' %}" alt="google">
                </a>
            </li>
            <li class="social_network_footer">
                <a href="#">
                    <img class='instagram' src="{% static 'images/instagram.svg' %}" alt="instagram">
                </a>
            </li>
            <li class="social_network_footer">
                <a href="#">
                    <img class='invision.svg' src="{% static 'images/invision.svg' %}" alt="invision">
                </a>
            </li>
        </ul>


        <ul class="contact__list_footer">
            <li class="contact__item_footer">
                <a class="contact__link_footer" href="#">Елабуга, Окружное шоссе 37А</a>
            </li>

            <li class="calendar_item_footer">
                <a class="schedule_footer" href="#">О нас</a>
            </li>

        </ul>


        <div class="Elprimo">
            <h1>ELprimo</h1>
        </div>
        <div class="footer_logo_wrapper">
            <img src="{% static 'images/logo.jpg' %}" alt="logo">
        </div>
    </div>
</footer>

</body>
</html>